<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>测试任务管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href=" {% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href=" {% static 'css/bootstrapStyle/bootstrapStyle.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'plugins/adminLTE/css/AdminLTE.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/adminLTE/css/skins/_all-skins.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
	<script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <link type="text/css" rel="stylesheet" href=" {% static 'css/zTreeStyle/zTreeStyle.css' %}">
    <script type="text/javascript" src=" {% static 'js/jquery.ztree.core.js' %}"></script>
    <script type="text/javascript" src=" {% static 'js/jquery.ztree.excheck.js' %}"></script>

</head>

<body class="hold-transition skin-red sidebar-mini" >
  <!-- .box-body -->
                 {% csrf_token %}
                    <div class="box-header with-border">
                        <h3 class="box-title">测试任务管理</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editModal" ><i class="fa fa-file-o"></i> 新建</button>
                                        <button type="button" class="btn btn-default" title="删除"><i class="fa fa-trash-o"></i> 删除</button>
                                       
                                        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                                    </div>
                                </div>
                            </div>
                            <div class="box-tools pull-right">
                                <div class="has-feedback">
							                  测试任务名称：<input  >
									<button class="btn btn-default">查询</button>                                    
                                </div>
                            </div>
                            <!--工具栏/-->

			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
			                              <th class="" style="padding-right:0px">
			                                  <input id="selall" type="checkbox" class="icheckbox_square-blue">
			                              </th> 
										  <th class="sorting_asc">测试任务</th>
									      <th class="sorting">模块</th>
									      <th class="sorting">报告</th>
									      <th class="sorting">备注</th>
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
                                  {% for plan in plan_list %}
			                          <tr>
			                              <td><input  type="checkbox" name="plancheck" class="icheckbox" pid="{{ plan.id }}"></td>
									      <td>{{ plan.name }}</td>
									      <td>{{ plan.module }}</td>
									      <td><a href="{{ plan.report }} " target="_blank">{{ plan.report }}</a></td>
									      <td>{{ plan.remark }}</td>
		                                  <td class="text-center">                                           
		                                 	  <button id='edit' type="button" class="btn bg-olive btn-xs" data-toggle="modal"  data-target="#editModal" plan="{{ plan.id }}" >修改</button>
                                              <button id="run" type="button" class="btn bg-olive btn-xs"  run_plan_id="{{ plan.id }}"  >运行</button>
                                          </td>
			                          </tr>
                                  {% endfor %}
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->                        
							  
							 
                        </div>
                        <!-- 数据表格 /-->
                        
                        
                        
                        
                     </div>
                    <!-- /.box-body -->
                    
	           
					    
                                
<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">测试任务编辑</h3>
		</div>
		<div class="modal-body">							
			
			<table class="table table-bordered table-striped"  width="800px">
                 <tr style="display:none;">
		      		<td>任务ID</td>
		      		<td><input id="planId" class="form-control" placeholder="任务ID" >  </td>
		      	</tr>
		      	<tr>
		      		<td>任务名称</td>
		      		<td><input id="name" class="form-control" placeholder="任务名称">  </td>
		      	</tr>			   
		      	<tr>
		      		<td>模块</td>
		      		<td>
		      			<input  id="module" class="form-control" placeholder="模块">  </td>
		      		</td>
		      	</tr>
		      	<tr>
		      		<td>报告</td>
		      		<td>
                        <input id="report" class="form-control" placeholder="报告">  </td>
		      		</td>
		      	</tr>	
		      	<tr>
		      		<td>备注</td>
		      		<td>
                        <input id="remark" class="form-control" placeholder="备注">  </td>
		      		</td>
		      	</tr>
		      	<tr>
		      		<td>选择用例</td>
		      		<td>
		      			<div class="btn-group">
                           <ul id="treeDemo" class="ztree"></ul>
                        </div>

						</table>	
           
		      		</td>
		      	</tr>	
		      	      
			 </table>				
			
		</div>
		<div class="modal-footer">						
			<button class="btn btn-success" data-dismiss="modal" aria-hidden="true">保存</button>
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>
	  </div>
	</div>
</div>
    
</body>
<SCRIPT type="text/javascript">
        <!--
        var setting = {
            view: {
                selectedMulti: false
            },
            check: {
                enable: true,


            },
            data: {
                simpleData: {
                    enable: false
                }
            },
            callback:{    //第一步
                beforeCheck:true,
                onClick:zTreeOnClick
            },



        };

        var zNodes =[
		]





        $(document).ready(function(){
            getOptionList();
            $.fn.zTree.init($("#treeDemo"), setting, zNodes);
        });

        var newCount = 1;
        function addHoverDom(treeId, treeNode) {
            var sObj = $("#" + treeNode.tId + "_span");
            if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) return;
            var addStr = "<span class='button add' id='addBtn_" + treeNode.tId
                + "' title='add node' onfocus='this.blur();'></span>";
            sObj.after(addStr);
            var btn = $("#addBtn_"+treeNode.tId);
            if (btn) btn.bind("click", function(){
                var zTree = $.fn.zTree.getZTreeObj("treeDemo");
                zTree.addNodes(treeNode, {id:(100 + newCount), pId:treeNode.id, name:"new node" + (newCount++)});
                return false;
            });
        };
        function removeHoverDom(treeId, treeNode) {
            $("#addBtn_"+treeNode.tId).unbind().remove();
        };
        //-->

      function zTreeOnClick(event, treeId, treeNode) {       //第二步
            var treeObj = $.fn.zTree.getZTreeObj("treeDemo"),
                nodes = treeObj.getCheckedNodes(true),
              v = ''
            for (var i = 0; i < nodes.length; i++) {
               if(nodes[i].id == undefined){
               }else {
                  v = v + nodes[i].id +","
               }
            }
          return v
      }

    function getOptionList(){
          $.ajaxSettings.async = false
          $.get('/cases/option_list', function(data){
                if (data.status){
                    zNodes = data.option

                }else{
                    alert("请求失败")
                }
          })
           $.ajaxSettings.async = true
    };

       $('.modal-footer').children('.btn-success').click(function () {
           csrf = $('input[name="csrfmiddlewaretoken"]').val()
           plan_name = $('#name').val()
           plan_id = $('#planId').val()
           report = $('#report').val()
           remark  = $('#remark').val()
           module = $('#module').val()
           case_list = zTreeOnClick()
           params = {'id':plan_id, 'name': plan_name, 'module': module, 'report': report, 'remark': remark,
               'case_id_list': case_list, 'csrfmiddlewaretoken': csrf,}
           $.ajaxSettings.async = false
           $.post('/cases/create_plan',params, function (data) {
               if (data.status){
                    window.location.reload()
               }else{
                   alert(data.msg)
               }
           })
            $.ajaxSettings.async = true;
           $(this).unbind('click');

       })


    function checkedzTreeNodes(ids) {
			var treeObj = $.fn.zTree.init($("#treeDemo"),setting,zNodes);
			var zTree = treeObj.getCheckedNodes(false); // 获取未被选中的shu
			var arr = new Array();
			if (ids!= '') {
				for (var i = 0; i < zTree.length; i++) {
					for (var j = 0; j < ids .length; j++) {
						if (ids[j] == zTree[i].id) {
							arr.push(zTree[i]);
						}
					}
				}
				for (var l = 0; l < arr.length;l++){
					treeObj.expandNode(arr[l], true,true,true); //展开选中的
					treeObj.checkNode(arr[l], true,true);// 选中
				}
			}
		}


    $("[title='新建']").click(function () {
         getOptionList();
         $.fn.zTree.init($("#treeDemo"), setting, zNodes);
         $('#planId').val('')
         $('#name').val('')
         $('#report').val('')
         $('#remark').val('')
         $('#module').val('')

    })


   $('.text-center').children('#run').click(function () {
       plan = this.getAttribute('run_plan_id')
       url = '/cases/run_plan/' + plan
       $.ajaxSettings.async = false
       $.get(url, function (data) {
           if(data.status){
               alert(data.msg)
           }else {
               alert("请求失败")
           }
       })

   });

   $("[title='删除']").click(function () {
        vc = '',
        $.each($(":checked"),function () {
            vc = vc + this.getAttribute('pid')+","
        })
        csrf = $('input[name="csrfmiddlewaretoken"]').val()
        params = {'plan_id': vc, 'csrfmiddlewaretoken': csrf, }

        $.ajaxSettings.async = false

       $.post('/cases/del_plan',params,function (data) {
           if(data.status){
               alert("删除成功")
                window.location.reload()
           }else{
               alert("删除失败")
           }
       })
       $.ajaxSettings.async = true;
       $(this).unbind('click');
   });

   $('.text-center').children('#edit').click(function () {
        pid = this.getAttribute('plan');
        csrf = $('input[name="csrfmiddlewaretoken"]').val()
        params = {'plan_id': pid, 'csrfmiddlewaretoken': csrf, }
        $.ajaxSettings.async = false
        $.post('/cases/plan_detail',params,function (data) {
            if (data.status){
                plan = data.plan
                $('#planId').val(plan.id)
                $('#name').val(plan.name)
                $('#report').val(plan.report)
                $('#remark').val(plan.remark)
                $('#module').val(plan.module)
                list = plan.cases_list
                checkedzTreeNodes(list)
            }else{
                alert(data.msg)
            }
        })
       $.ajaxSettings.async = true

   })



    </SCRIPT>

</html>